.PostsList {
  padding: 2rem;
}

.PostsList h2 {
  color: cornflowerblue;
}

.PostsList article {
  border: 1px dotted cornflowerblue;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.PostsList article h3 {
  color: aliceblue;
}

.PostsList article p {
  color: gray;
}

.PostsList .AddPostForm label {
  color: antiquewhite;
  padding: 1rem;
}

.PostsList .AddPostForm input[type='text'],
.PostsList .AddPostForm textarea {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: aliceblue;
  font-size: 1.2rem;
  width: 400px;
  padding: 1rem;
}

.PostsList .AddPostForm button {
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: cornflowerblue;
  cursor: pointer;
  border: none;
}