.RQDashboard {
  height: 90vh;
  overflow-y: scroll;
}

.RQDashboard .link-box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid cornflowerblue;
  border-radius: 10px;
}

.RQDashboard .link-box .link {
  color: #FFF;
  font-size: 1.5rem;
}

.RQDashboard .link-box .link:hover {
  color: cornflowerblue;
}

.RQDashboard .link-box .desc {
  color: #FFF;
}